body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.8;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

#showcase {
    background-image: url(http://traversymedia.com/downloads/assets/beachshowcase.jpg);
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.button {
    text-decoration: none;
    color: #926239;
    border: 1px solid #926239;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #926239;
    color: white;
}

#section-a {
    background-color: #926239;
    color: #f4f4f4;
    text-align: center;
}

#section-b {
    padding: 20px;
    background-color: #f4f4f4;
    color: #926239;
    text-align: center;
}

#section-c {
    display: flex;
}

#box-1 {
    background-color: #926239;
    color: #f4f4f4;
    padding: 20px;
}

#box-2 {
    background-color: #f4f4f4;
    color: #926239;
    padding: 20px;
}

#box-3 {
    background-color: #926239;
    color: #f4f4f4;
    padding: 20px;
}